<app-header/>

<div class="user-card-container">
  <div *ngIf="user" class="user-card">
    <h2>{{ user.name }}</h2>
    <div class="user-details">
      <div class="contact-info">

        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Website:</strong> <a [href]="'http://' + user.website" target="_blank">{{ user.website }}</a></p>
      </div>

      <div class="address">
        <h3>Address</h3>
        <p><strong>Street:</strong> {{ user.address.street }}</p>
        <p><strong>Suite:</strong> {{ user.address.suite }}</p>
        <p><strong>City:</strong> {{ user.address.city }}</p>
        <p><strong>Zipcode:</strong> {{ user.address.zipcode }}</p>
        <p><strong>Geo Location:</strong> {{ user.address.geo.lat }}, {{ user.address.geo.lng }}</p>
      </div>
    </div>



    <mat-form-field>
      <mat-label>Select What to Display</mat-label>
      <mat-select [(ngModel)]="displayCurrentOption" (selectionChange)="changeOption($event.value)">
        <mat-option *ngFor="let option of displayOptions | keyvalue" [value]="option.key">
          {{ option.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <app-posts *ngIf="displayCurrentOption === displayOptions.posts" [posts]="posts"/>
    <p *ngIf="displayCurrentOption === displayOptions.albums"> This Option Will Be Available Soon!</p>
  </div>
</div>
